{% block html %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;"><h1>Loan Acknowledgement</h1></div>
    <!-- <div style="text-align: center;"><img style="width: 10rem;" src="https://www.nationcourier.com/static/media/nationcourier_logo.8c03c16c.jpg" alt="" srcset=""></div> -->
    <div style="text-align: center;"><p>Hello, Your loan has been received and is being processed. You will receive a notificarion once we finish processing it.</p></div>
    <!-- <div style="text-align: center;"><p>Visit <a href="https://www.nationcourier.com/">https://www.nationcourier.com/</a> and login with your email: {{email}} and password: {{password}}. You can change yor password after signing in </p></div> -->
</body>
</html>
{% endblock %}